@import url('https://fonts.googleapis.com/css?family=Poller+One|Raleway');

/* ========= Main CSS variables ======= */
:root {
  --white: #EDF4ED;
  --oxford-blue: #001D4A;
  --orange: #ECA400;
  --sea-blue: #006992;
  --deep-blue: #27476E;
  --main-font-size: 20px;
  --main-padding: 2%;
  --main-margin: 3%;
  --big-padding: 5%;
  --big-margin: 8%;
}

/*========== General classes ========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
td,
th,
p,
ul,
li,
select {
	font-family: 'Raleway', sans-serif;
	color: var(--oxford-blue);
  font-size: 0.9em;
}

body {
	font-size: var(--main-font-size);
	background-color: var(--white);
}

a {
  text-decoration: none;
  font-size: 0.9em;
  color: var(--sea-blue);
}

/* a:hover,
a:focus {
  color: var(--orange);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  outline: 0;
} */

h1 {
  font-size: 1.2em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

.poller {
  font-family: 'Poller One', cursive;
}

/* ========= Main Content ======== */
#maincontent {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: column wrap;
}

/* ======= Flexboxes ====== */
header,
.filter-options,
.address,
#restaurants-list,
#restaurant-container,
#reviews-list,
#reviews-list li {
  display: flex;
  flex-flow: row wrap;
}

.restaurant-visual {
  display: flex;
  flex-flow: column;
}

.filter-options,
.address,
.restaurant-visual,
#restaurants-list,
#restaurant-container,
#reviews-list {
  align-items: center;
  justify-content: center;
}

/* ======= Header with logo ======= */
header {
  width: 100%;
  background-color: var(--oxford-blue);
  justify-content: flex-start;
  align-items: center;
}

header h1 {
  color: var(--white);
  flex: 70%;
  max-width: 250px;
  padding: var(--main-padding);
  font-size: 1.15em;
}

header a {
  flex: 30%;
  max-width: 100px;
  padding: var(--main-padding);
  transition: all 0.3s linear;
  -webkit-transition: all 0.4s ease;
}

header a:hover,
header a:focus {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  outline: 0;
}

/* ===== SVG animation of the main logo ======= */
.logo-circle {
	animation-name: changeColor;
	-webkit-animation-name: changeColor;

	animation-duration: 7s;
	-webkit-animation-duration: 7s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes changeColor {
	0%   {fill: var(--sea-blue)}
  50%  {fill: var(--orange)}
  100% {fill: var(--sea-blue)}
}

@-webkit-keyframes changeColor {
  0%   {fill: var(--sea-blue)}
  50%  {fill: var(--orange)}
  100% {fill: var(--sea-blue)}
}

/* ====================== Map ====================== */
#map {
  height: 50vh;
  width: 100%;
  background-color: var(--white);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: var(--sea-blue);
  padding: var(--big-padding);
}

.filter-options h2 {
  flex: 100%;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  padding: var(--main-padding);
}

.filter-options select {
  background-color: var(--white);
  border: 0;
  border-radius: 5px;
  height: 45px;
  margin: var(--main-margin);
  padding: var(--main-padding);
  width: 70%;
  cursor: pointer;
  transition: all 0.5s ease;
}

select:hover,
select:focus {
  background-color: var(--orange);
  color: var(--oxford-blue);
  border-right: 2px solid var(--oxford-blue);
  border-bottom: 2px solid var(--oxford-blue);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  width: 100%;
  min-height: 500px;
  list-style: outside none none;
  padding: var(--main-padding);
}

#restaurants-list li {
  background-color: #fff;
  border: 4px solid #d9d9d9;
  border-radius: 25px 0;
  margin: var(--main-margin);
  padding: var(--big-padding);
  text-align: center;
  flex: 95%;
  max-width: 320px;
}

#restaurants-list li img {
  display: block;
  width: 100%;
  max-width: 290px;
  min-height: 80%;
  max-height: 100%;
  border-radius: 25px 0 0 0;
}

#restaurants-list li h1 {
  background: var(--deep-blue);
  color: var(--white);
  letter-spacing: 3px;
  margin-bottom: var(--main-margin);
  text-transform: uppercase;
  border-radius: 0 0 25px 0;
  padding: var(--big-padding);
  width: 100%;
  max-width: 290px;
}

#restaurants-list li p {
  margin: var(--main-margin);
  text-align: right;
}

#restaurants-list li a {
  background-color: var(--sea-blue);
  border-radius: 5px;
  color: var(--white);
  display: inline-block;
  letter-spacing: 2px;
  margin-top: var(--main-margin);
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
  border-right: 2px solid var(--oxford-blue);
  border-bottom: 2px solid var(--oxford-blue);
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: var(--orange);
  color: var(--oxford-blue);
  outline: 0;
}

/* ====================== Restaurant Details ====================== */
/* Heading */
#breadcrumb {
    padding: var(--main-padding);
    list-style: none;
    background-color: var(--orange);
    font-weight: bold;
    flex: 100%;
}

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: var(--oxford-blue);
    content: "/\00a0";
}

#breadcrumb li a {
    color: var(--oxford-blue);
    text-decoration: underline;
}

#breadcrumb li a:hover,
#breadcrumb li a:focus {
    color: var(--white);
    text-decoration: underline;
}

/* Map section */
.inside #map-container {
  height: 170px;
  flex: 100%;
}

.inside #map {
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

/* Restaurant information section */
#restaurant-container,
#reviews-container {
  flex: 100%;
  padding-bottom: 8%;
}

#restaurant-name, #reviews-container h1 {
  letter-spacing: 2px;
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
  text-transform: uppercase;
  text-align: center;
  flex: 100%;
  background-color: var(--sea-blue);
  color: var(--white);
}

#restaurant-name {
  margin-bottom: var(--big-margin);
}

#restaurant-img {
	width: 100%;
  border-radius: 25px 0 0 0;
  max-width: 300px;
  border-top: 4px solid #d9d9d9;
  border-left: 4px solid #d9d9d9;
  border-right: 4px solid #d9d9d9;
}

#restaurant-cuisine {
  border-bottom: 4px solid #d9d9d9;
  border-left: 4px solid #d9d9d9;
  border-right: 4px solid #d9d9d9;
  border-radius: 0 0 25px 0;
  background-color: var(--oxford-blue);
  color: var(--white);
  font-weight: normal;
  letter-spacing: 10px;
  margin-bottom: var(--main-margin);
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  font-family: 'Poller One', cursive;
  max-width: 300px;
}

#restaurant-img,
#restaurant-cuisine {
  margin-left: var(--big-margin);
  margin-right: var(--big-margin);
}

#restaurant-address {
  padding-left: 6px;
}

.address {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

#restaurant-hours {
  text-align: justify;
  flex: 100%;
  padding: var(--big-padding);
  max-width: 270px;
}

#restaurant-hours td {
  color: var(--deep-blue);
}

/* The reviews section */
#reviews-container {
  background: var(--sea-blue);
}

#reviews-list li {
  background-color: #fff;
  border: 4px solid #d9d9d9;
  border-radius: 25px 0;
  list-style-type: none;
  margin: 1em;
  overflow: hidden;
  flex: 100%;
  text-align: justify;
  max-width: 400px;
}

.reviewee-name {
  letter-spacing: 2px;
  flex: 50%;
  font-weight: bold;
  background: var(--oxford-blue);
  color: #fdfdfd;
  padding: 1em;
  text-transform: uppercase;
}

.review-date {
  flex: 50%;
  background: var(--oxford-blue);
  color: #d9d9d9;
  padding: 1em;
  font-style: italic;
}

.rating {
  padding: 0.5em;
  color: var(--oxford-blue);
  border: 1.5px solid var(--oxford-blue);
  font-weight: 600;
  background: var(--orange);
  margin: 1em 0 0 1em;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 11.5px;
  letter-spacing: 2px;
  min-width: 102px;
  text-align: center;
}

.comment {
  padding: 1em;
  font-size: 1.1em;
}

/* ==========Footer========= */
#footer {
  background-color: var(--oxford-blue);
  color: var(--white);
  font-size: 0.5em;
  letter-spacing: 1px;
  padding: var(--big-padding);
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  bottom: 0;
  line-height: 2em;
  position: relative;
}

#footer a {
  transition: all 0.5s ease;
  color: #d9d9d9;
}

#footer a:hover,
#footer a:focus {
  text-decoration: underline;
  color: var(--orange);
  outline: 0;
}

/*======== Responsivness =======*/
@media screen and (min-width: 650px) {
  :root {
    --main-padding: 1%;
    --main-margin: 2%;
    --big-padding: 3%;
    --big-margin: 6%;
  }

  .filter-options select {
    width: 45%;
  }

  #restaurants-list li {
    flex: 40%;
  }

  #map {
    height: 35vh;
  }

  .inside #map-container {
    height: 270px;
  }

  #reviews-list {
    align-items: baseline;
  }

  #reviews-list li {
    flex: 30%;
  }
}

@media screen and (min-width: 850px) {
  :root {
    --main-font-size: 19px;
  }

  header a:hover,
  header a:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  #restaurants-list li {
    flex: 31%;
  }

  .filter-options select {
    max-width: 320px;
  }

  select:hover,
  select:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .inside #maincontent {
    display: flex;
    flex-flow: row wrap;
  }

  .inside #map-container {
    height: 500px;
    flex: 30%;
  }

  #restaurant-container {
    max-height: 500px;
    flex: 70%;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --main-margin: 1.2%;
    --big-padding: 2.5%;
    --big-margin: 2.5%;
  }

  #restaurants-list li {
    flex: 25%;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --main-padding: 0.5%;
    --main-margin: 0.5%;
    --big-padding: 1.2%;
    --big-margin: 1.2%;
  }
}
